@import "variables.less";

.screen(@min, @max, @ruleset) {
  @media (min-width: @min) and (max-width: (@max - 1)) {
    @ruleset();
  }
}
.reset-around{
  margin:0;
  padding:0;
}
.flex(@row: row,@wrap: nowrap,@justify: flex-start,@align: stretch) {
  display: flex;
  flex-flow:@row @wrap;
  justify-content: @justify;
  align-items: @align;
}
.container{
  margin:0 auto;
  width:@s1170;
  .screen( 2px , @s1170 , {
    width: 100%;
    box-sizing: border-box;
    padding:0 15px;
  });
}
.img{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body , html{
  .reset-around;
}
body *{
  font-family: 'Open Sans',sans-serif;
}
input , textarea{
  outline:none;
}
a{
  text-decoration: none;
}
ul{
  list-style: none!important;
  .reset-around;
}
[v-cloak]{
  display: none;
}
.lang{
  box-sizing: border-box;
  width: 70px;
  display: inline-flex;
  border:1px solid #b7b7b7;
  border-radius: 25px;
  padding:10px;
  transition: 0.3s;
  height: 51px;
  background-color: #fff;
  overflow: hidden;
  flex-direction: column;
  &:hover{
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    height: 120px;
    margin-top: 50px;
    .lang-list{

      opacity: 1;
    }
  }
  &-active{
    .img{
      width: 30px;
      height: 30px;
      position: relative;
      &:after{
        position: absolute;
        right:-15px;
        content: '';
        width: 5px;
        top:0;
        bottom:3px;
        margin: auto 0;
        height: 5px;
        border-bottom: 2px solid #999999;
        border-right: 2px solid #999999;
        transform: rotate(45deg);
        display: inline-block;
      }
    }
  }
  &-list{
    transition:0.3s;
    margin: 0;
    opacity: 0;
    li>a{
      .img;
      background-size: contain;
      display: block;
      width: 30px;
      height: 30px;
    }
  }
  .screen(2px , @s1100 , {
    width: 60px;
    padding: 10px 5px;
  });
}






.content{
  padding-top: 156px;
}
.header{
  &.searchActive{
    top:0;
  }
  width: 100%;
  background:linear-gradient(to bottom #fff 0px ,#fff 70% , transparent 71%) ;
  padding-top: 65px;
  position: absolute;
  top:-65px;
  transition:0.4s;
  z-index:2;
  .screen(2px , @s1100 , {
    display: flex;
  flex-direction: column;
  });
  &-wrapper{
    display: flex;
    align-items: center;

  }
  &-top{
    width: 100%;
    height: 155px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .screen(2px ,@s1100 ,{
      height: 115px;
      box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.13);
      width: ~'calc(100% + 30px)';
      padding:0 15px;
      margin: 0 -15px;
      justify-content: center;
    });
    &>.lang{
      .screen(2px ,@s1100 , {
        display: none;
      });
    }
    .logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      .screen(2px , @s1100 , {
        img{
          width: 70px;
        }
      });
      &-wrapper{
        display: inline-flex;
        flex-direction: row;

      }

      &-text{
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        .big{
          font-size:29px;
          font-family: @font-default2;
          font-weight: 700;
          color: #00064e;
          text-transform: uppercase;
          .screen(2px , @s1100 , {
            font-size: 26px;
          });
        }
        .small{
          color:#868686;
        }
      }
    }
    .contacts{
      .screen(2px ,@s1100 , {
        display: none;
      });
      display: flex;
      flex-direction: column;
      .email{
        color: @color-link;
        border-bottom: 1px dashed @color-link;
      }
      .place{
        padding-top: 15px;
        font-size: 15px;
        color:#727272;

      }
    }
    .phones{
      .screen(2px ,@s1100 , {
        display: none;
      });
      &-num{
        align-items: center;
        display: flex;
        svg{
          margin-right: 19px;
          fill:#afafaf;
          .screen(2px,  @s1300 , {
            margin-right:10px;
          });
        }
        .phone{
          .screen(2px , @s1300  , {
            font-size: 22px;
          });
          font-size: 25px;
          color:#00064e;
          font-weight: 600;
        }
      }
    }
    .callback{
      .screen(2px ,@s1100 , {
        display: none;
      });
      padding: 15px 30px;
      border: 2px solid @color-default;
      color:#000;
      font-size: 15px;
      border-radius: 30px;
      transition: 0.3s;
      &:hover{
        background: @color-default;
        color:#fff;
      }
    }
  }
  &-bottom{
    .container{
        .screen(2px ,@s1100 , { display: flex;
          flex-direction: row;
          justify-content: space-between;
        align-items: center;
        });
    }
    .screen(2px ,@s1100 , {
      order:-1;
      height: 60px;

    });
    height: 70px;
    background:  rgba(35,131,38,0.9) ;
    .mob-menu-butt{
      width: 50px;
      height: 50px;
      font-size: 30px;
      border: none;
      background-color: transparent;
      color:#fff;
      outline: none;
      display: none;
      .screen(2px ,@s1100 , {display: block});
    }
    .phones-num{
      display: none;
      svg{
        fill:rgba(255,255,255,0.8);
      }
      .phone{
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 22px;
      }
      .screen(2px ,@s1100 , {display: flex;})

    }
    .screen(2px ,@s1100 , {display: flex;align-items: center});
    &-wrapper{
      .mob-wrapper{
        width: 100%;
        display: flex;
        .screen(2px, @s1100 , {
          display: block;
          padding: 25px 20px;
          width: 100%;
          position: relative;
          overflow-x: auto;
          height: 100vh;
          box-sizing: border-box;
        });
      }
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .close-menu{
        display: none;
        .screen(2px ,@s1100 , {
        display: block;
          width: 50px;
          position: absolute;
          right: -50px;
          background: transparent;
          border:none;
          height: 50px;
          outline: none;
          cursor: pointer;
        &>svg{
          fill:#fff;
        }
        });

      }
      .screen(2px , @s1100 , {
        width: ~'calc(100vw - 50px)';
        box-shadow: 4.528px 3.936px 29px 0px rgba(0, 0, 0, 0.19);
        height: 100vh;
        position: fixed;
        left:-100vw;
        top:0;
        background: #fff;
      });
      .nav-list{
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        margin-left: -30px;
        .screen(2px , @s1170 , {
          margin-left: 0;
          margin-top: 25px;
          flex-direction: column;
        });
        li{
          &.deep{
            .page-title{
                padding-right: 40px;
                position: relative;
              &:after{
                transform: rotate(45deg);
                content:'';
                position: absolute;
                right: 20px;
                top:0;
                bottom:3px;
                margin:auto 0;
                width: 7px;
                height: 7px;
                display: block;
                border-bottom: 2px solid #a9c8aa;
                border-right: 2px solid #a9c8aa;
                .screen(2px , @s1100 , {
                  border-bottom-color:#afafaf;
                  border-right-color:#afafaf;
                });
              }
              }
            .submenu{
              position: absolute;
              width: 100vw ;
              top:100%;
              min-height: 200px;
              left:0;
              padding: 60px 0;
              display: none;
              box-shadow: 4.528px 3.936px 13px 0px rgba(0, 0, 0, 0.19);
              top:290px;
              background: #fff;
              .screen(2px,  @s1100 , {
                position: relative;
                top: auto;
                left:auto;
                box-shadow:none;
                height: auto;
                padding: 0;
                width: ~'calc(100% + 40px)';
                margin-left: -20px;

              });
              &-wrapper{
                width: 1170px;
                margin:0 auto;
                .screen(2px , @s1100 , {
                  width: 100%;
                  margin: 0;
                });
                .subcat-list{
                  -webkit-columns: 4;
                  columns: 4;
                  .screen(2px ,@s1100 , {
                    column-count: 1;
                  });
                  .st-lvl{
                    -webkit-column-break-inside: avoid;
                    break-inside: avoid;
                    display: block;
                    margin-bottom: 50px;
                    .screen(2px, @s1100 , {
                      margin:0;
                      background: #e9f6fc;
                    });
                    &-title{
                        .screen(2px, @s1100 , {
                          width: ~'calc(100% - 20px)';
                          padding: 0 0 0 20px;
                          font-weight: 500;
                          font-size: 15px;
                          color:#323232;
                          height: 55px;
                          border-top:1px solid #e5e5e5;
                        });
                        width: 170px;
                        font-size:18px;
                        height: 76px;
                        font-weight: 600;
                        color:#000;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    .nd-lvl{
                      .screen(2px , @s1100 , {
                        display: none;
                      });
                      border-top: 2px solid #e5e5e5;
                      padding-top: 30px;
                      li{
                        a{
                          color:@color-link;
                          font-size: 16px;
                          line-height: 23px;
                          padding: 10px 0;
                          display: block;
                        }
                      }
                    }
                  }
                }

              }
            }
            &:hover{
              .screen(@s1100 , 70000px , {
                &>.submenu{
                  display:block;
                }
              });

            }
          }
          .screen(2px, @s1100 , {
            &:last-child{
              .page-title{
                border-bottom: 1px solid #e5e5e5;
              }
            }
          });
          .page-title{
            padding: 0 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70px;
            color:#fff;
            font-size:15px;
            text-transform: uppercase;
            font-weight: 700;
            transition: 0.3s;
            .screen(2px , @s1170 , {
              padding: 0 20px;
              font-size: 14px;
              height: 55px;
            });
            .screen(2px , @s1100 , {
              border-top:1px solid #e5e5e5;
              margin: 0 -20px;
              color:#323232;
              font-weight: 500;

            });
            .screen(@s1100 , 70000px , {
              &:hover{
                background: rgba(0,0,0,0.1);
              }
            })
          }
        }
      }
      .search-butt{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding:0 15px;
        margin-right: -15px;
        transition: 0.3s;
        .screen(2px,  @s1100 , {
          display: none;
        });
        &:hover{
         opacity: 0.7;
        }
        svg{
          fill:#fff;
        }
      }
      .search-wrapper{
        display: flex;
        align-items: center;
        position: absolute;
        top:0;
        left:0;
        width: 100vw;
        height: 65px;
        background: #eee;
        box-shadow: inset 0px -2px 7px 0px rgba(0, 0, 0, 0.06);
        .screen(2px , @s1100 , {
          position: relative;
          width: ~'calc(100% - 70px)';
          height: 50px;
          box-sizing: border-box;
          border-radius: 30px;
          box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
        });
        .lang{
          display: none;
         .screen(2px , @s1100 , {
           display: inline-block;
           margin-right: -80px;
         });
        }

        .container{
          display: flex;
          flex-direction: row;
          .screen(2px , @s1100  , {
            padding: 0;
          });
        }
        .searchButton{
          background-color:transparent;
          border:none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          svg{
            fill:#88bc8a;
          }
          &:after{
            content: '';
            background: #c1c1c1;
            width: 1px;
            height: 34px;
            position: absolute;
            right:-15px;
            display: block;
            .screen(2px , @s1100 ,{
              display: none;
            })
          }
        }
        input{
          width: ~'calc(100% - 73px)';
          margin-left: 46px;
          background-color: transparent;
          border:none;
          font-size: 16px;
          position:relative;
          font-size:15px;
          ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #737373;
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #737373;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #737373;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #737373;
          }
          .screen(2px , @s1100 , {
            margin-left:10px;
          });
        }

      }
    }
  }
}



//-----------------pages--------------------------


.homePage{
  &-slider{
    width: 100%;
    height: 690px;
    .slide{
      position: relative;
      width: 100%;
      height:690px;
      background: red;
    }
    .img{
      position: absolute;
      z-index: 0;
      top:0;
      bottom:0;
      width: 100%;
      height: 690px;
    }
    .container{
      position: relative;
      z-index: 1;
    }
  }
}











//------------------------animations----------

.fade-enter-active, .fade-leave-active {
  transition: all .4s
}
.fade-enter, .fade-leave-to  .fade-leave-active {
  opacity: 0;
}

.fadeUp-enter-active, .fadeUp-leave-active {
  transition: all .3s
}
.fadeUp-enter, .fadeUp-leave-to /* .fadeUp-leave-active для <2.1.8 */ {
  opacity: 0;
  transform:translateY(20px);
}

.fadeDown-enter-active, .fadeDown-leave-active {
  transition: all .5s;
}
.fadeDown-enter, .fadeDown-leave-to /* .fadeDown-leave-active для <2.1.8 */ {
  opacity: 0;
  transform:translateY(-50%)scaleY(0.1);
}


.modal-enter {
  opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container,
.modal-leave-active .modal-container {
  .screen(@s750,90000px,{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  });
  .screen(2px,@s750,{
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);

    transition:all 0.3s;
  });

}
